requests
langchain
streamlit
unstructured
unstructured[pdf]
chromadb
sentence-transformers 
langchain-community
langchain-google-genai

google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
